
.container-projects{
width: 100%;
height: 850px;
background-color: white;
position:absolute;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 2px solid black;
}

.project-webs-1{
    width: 400px;
    height: 200px;
    background-color: white;
    margin-right: 50px; 
    border-radius: 6px;
    background-image: url('../Projects/Captura\ de\ pantalla\ \(468\).png');
    background-size: cover;
    border: 2px solid rgb(99, 96, 96)
}
.project-webs-1:hover{
    opacity: 0.4;
    transition: 1;



}
.project-webs-2{
    width: 400px;
    height: 200px;
    background-color: white;
    margin-right: 50px; 
    border-radius: 6px;
    background-image: url('../Projects/Captura\ de\ pantalla\ \(412\).png');
    background-size: cover;
    border: 2px solid rgb(99, 96, 96)
    

}
.project-webs-2:hover{
    width: 400px;
    height: 200px;
    background-color: white;
    margin-right: 50px; 
    border-radius: 6px;
    background-image: url('../Projects/Captura\ de\ pantalla\ \(412\).png');
    background-size: cover;
    border: 2px solid rgb(99, 96, 96);
    opacity: 0.4;
    transition: 1;

}
.project-movile-1{
    width: 220px;
    height: 480px;
    background-color: white;
    margin-right: 50px; 
    border-radius: 6px;
    background-image: url('../Projects/Captura\ de\ pantalla\ \(482\).png');
    background-size: cover;
    border: 2px solid white
}
.project-movile-1:hover{
    width: 220px;
    height: 480px;
    background-color: white;
    margin-right: 50px; 
    border-radius: 6px;
    background-image: url('../Projects/Captura\ de\ pantalla\ \(482\).png');
    background-size: cover;
    border: 2px solid white;
    opacity: 0.4;
    transition: 1;
}
.project-movile-2{
    width: 220px;
    height: 480px;
    background-color: white;
    margin-right: 40px; 
    border-radius: 8px;
    background-image: url('../Projects/Captura\ de\ pantalla\ \(489\).jpg');
    background-size: cover;
    border: 2px solid white
}
.project-movile-2:hover{
    width: 220px;
    height: 480px;
    background-color: white;
    margin-right: 40px; 
    border-radius: 8px;
    background-image: url('../Projects/Captura\ de\ pantalla\ \(489\).jpg');
    background-size: cover;
    border: 2px solid white;
    opacity: 0.4;
    transition: 1;
}