
.container-main{
    
    height: 80px;
    justify-content: center;
    align-items: center;
}

.container-nav-elements{
    position: relative;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
    color: white;
    padding-top: 20px;
    
    
}